@charset "UTF-8";

/* join common */
#subContents h2{ width: 180px; margin: 0 auto; box-sizing: border-box; font-size: 48px; font-weight: 700; color: #222; }
.joinFlow{ width: 100%; overflow: hidden; padding: 100px 0; }
.joinFlow li{ position: relative; float: left; width: 33.33%; height: 90px; border-top: 2px solid #999; padding-top: 15px; box-sizing: border-box; color: #666; font-size: 18px; font-weight: 700; }
.joinFlow li:before{ content: ''; position: absolute; top: -5px; left: 0; display: block; width: 8px; height: 8px; border-radius: 4px; background-color: #666; }
.joinFlow li.active{ border-top: 2px solid #24125f; color: #24125f; }
.joinFlow li.active:before{ background-color: #24125f; }
#subContents p.numTop{ margin-bottom: 30px; color: #999; font-size: 24px; font-weight: 700; text-align: center; }
.bottomList{ width: 100%; overflow: hidden; }
.bottomList h6{ margin-bottom: 8px; font-size: 20px; color: #333; }
#subContents .bottomList p{ margin-bottom: 8px; }
.bottomList a{ display: inline-block; width: 105px; height: 30px; border-bottom: 2px solid #24125f; box-sizing: border-box; color: #24125f;  }

/* joinClause */
.joinClause{ width: 100%; overflow: hidden; padding: 60px 90px; box-sizing: border-box; margin-bottom: 50px; background-color: #ededed; }
#subContents .joinClause h4{ width: 100%; margin-bottom: 30px; background-image: none; text-align: center; color: #333; font-size: 24px; }


/* 회원 약관 동의 */
.joinClause .agreeArea{ width: 100%; height: 300px; margin-bottom: 20px; padding: 20px; box-sizing: border-box; overflow-x: hidden; background-color: #fff; }
#subContents .joinClause .agreeArea h5{ margin-bottom: 20px; font-size: 20px; color: #333; }
#subContents .joinClause .agreeArea h6{ margin-bottom: 20px; font-size: 18px; color: #333; }
.joinClause .agreeArea div.agreeP{ margin-bottom: 20px; }
.joinClause .agreeArea .agreeP{ text-indent: 16px; font-size: 16px;  }

.joinClause .checkBox, .joinClause .allChk{ width: 100%; overflow: hidden; margin-bottom: 50px; }
.joinClause .allChk{ text-align: center; }
.joinClause .checkBox label, .joinClause .allChk label{ position: relative; top: -2px; left: 5px; }

.joinClause .nextBtn{ width: 100%; overflow: hidden; text-align: center; }
.joinClause .nextBtn a{ display: inline-block; width: 400px; height: 70px; background-color: #24125f; color: #ededed; font-size: 20px; line-height: 70px; }


/* 회원 정보 동의 */
.joinClause .orange{ color: #24125f; font-size: 16px; }
.joinClause table{ width: 100%; border-top: 2px solid #24125f; border-bottom: 1px solid #24125f; margin-bottom: 50px; }
.joinClause caption{ width: 100%; height: 40px; font-size: 20px; color: #333; font-weight: 500; text-align: left; }
#subContents .joinClause th{ width: 25%; padding: 10px 30px; border-top: none; border-bottom: 1px solid #fff; border-left: none; box-sizing: border-box;  background-color: #ccc; text-align: left; color: #333; font-size: 16px; font-weight: 500; }
#subContents .joinClause td{ width: 75%; padding: 10px 15px; border-bottom: 1px solid #ccc; border-right: none; box-sizing: border-box; background-color: #fff; text-align: left; }
#subContents .joinClause .last{ border-bottom: none; }
.joinClause th label{ color: #333; font-size: 16px; font-weight: 500; }
.joinClause td label{ font-size: 16px; }
.joinClause th .orange{ position: relative; top: 4px; }
.joinClause .box01{ width: 300px; height: 40px; padding: 0 10px; border: 1px solid #ccc; box-sizing: border-box; margin-right: 5px; }
.joinClause .box02{ width: 100px; height: 40px; padding: 0 10px; border: 1px solid #ccc; box-sizing: border-box; margin-right: 5px; }
.joinClause .box02 + label{ position: relative; left: -5px; margin-right: 10px; }
.joinClause .at{ position: relative; left: -4px; }
.joinClause .box03{ width: 130px; height: 40px; padding: 0 10px; border: 1px solid #ccc; box-sizing: border-box; margin-right: 5px; }
.joinClause table button{ width: 300px; height: 40px; border: none; background-color: #24125f; color: #fff; }
.joinClause table .red{ display: none; font-size: 16px; color: #ff0000; }
#postNum{ margin-bottom: 10px; }
.joinClause input[type=radio]{ margin: 13px 0; }
.joinClause input[type=radio] + label{ margin-right: 10px; }
.joinClause .btnWrap{ width: 100%; margin-bottom: 50px; text-align: center; }
.joinClause .btnWrap button{ width: 300px; height: 50px; border: none; color: #fff; font-size: 20px; font-weight: 500; }
.joinClause .btnWrap button[type=submit]{ background-color: #24125f; }
.joinClause .btnWrap button[type=reset]{ background-color: #666; }

/* 우편번호 */
#layer{ display:none; position:fixed; overflow:hidden; z-index:1; -webkit-overflow-scrolling:touch; }
#btnCloseLayer{ cursor:pointer; position:absolute; right:-3px; top:-3px; z-index:1; }

/* 회원가입완료 */
.joinClause .orange.big{ font-size: 24px; }
#subContents p.complete{ margin-bottom: 100px; text-align: center; color: #333; line-height: 50px; font-weight: 500; }
.joinClause .loginBtn{ display: block; width: 300px; height: 50px; margin: 0 auto 50px; background-color: #24125f; color: #fff; font-size: 20px; font-weight: 500; text-align: center; line-height: 50px; }
