@charset "UTF-8";

#subBox h3{ padding-left: 90px; margin-bottom: 50px; box-sizing: border-box; font-size: 40px; font-weight: 700; color: #24125f; }
#map{ width: 1000px; height: 500px; margin: 0 auto 40px; box-sizing: border-box; border: 3px solid #24125f; border-radius: 20px; }
.mapWrap{ width: 1000px; margin: 0 auto 100px; }
.mapWrap > ul > li{ font-size: 16px; color: #333; }
.mapWrap .trans{ display: flex; justify-content: space-between; margin-top: 60px; box-sizing: border-box; }
.mapWrap .trans h4{ padding-left: 35px; margin-bottom: 20px; box-sizing: border-box; font-size: 26px; font-weight: 400; color: #333; background-image: url(../images/introduce/placeholder_icon_blue.png); background-repeat: no-repeat; background-size: 23px; background-position: center left; }
.mapWrap .trans > li{ margin-bottom: 20px; }
.mapWrap .bus{ width: 60px; height: 28px; margin-bottom: 5px; box-sizing: border-box; line-height: 26px; border-radius: 20px; text-align: center; color: #fff; background-color: #1b05bf; }
.mapWrap .subway{ width: 60px; height: 28px; margin-bottom: 5px; box-sizing: border-box; line-height: 26px; border-radius: 20px; text-align: center; color: #fff; background-color: #10bd5e; }
.mapWrap .car li{ padding-left: 20px; box-sizing: border-box; line-height: 29px; background-image: url(../images/introduce/circle_img.png); background-repeat: no-repeat; background-position: center left; background-size: 10px; }
